.button {
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.301);
}