.info {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 10px;
}

.review {
  display: flex;
  justify-content: center;
  align-content: center;
  min-height: 100px;
  align-items: center;
}

.no_reviews {
  text-align: center;
  border: 1px solid #a3a3a357;
  border-radius: 5px;
  margin-top: 10px;
  width: 100%;
  height: 100%;
  color: #a3a3a3;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}